# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# App URL (dùng cho PayOS callback)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# PayOS Configuration
# Lấy từ: https://my.payos.vn/portal/integration
PAYOS_CLIENT_ID=6f975760-9564-4681-a6ba-19461baa1edf
PAYOS_API_KEY=a10800b9-09c9-400c-93d4-8b6430ddf4d8
PAYOS_CHECKSUM_KEY=7ed025e4c2a52fc8f2080a95308cf2e8a5b456ec98a59d49a83f2f8c930b6637
